﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">JFronny</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="profiles">
                <span class="oi oi-person" aria-hidden="true"></span> Profiles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="discord">
                <img src="images/discord.svg" style="height: 20px;position: absolute;">
                <span class="oi" aria-hidden="true"></span> Discord
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bot">
                <span class="oi oi-dial" aria-hidden="true"></span> Astra
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="uptool">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> UpTool2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quaere">
                <span class="oi oi-terminal" aria-hidden="true"></span> QuAERE
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="privacy">
                <span class="oi oi-copywriting" aria-hidden="true"></span> Privacy
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
