<h1>Contact</h1>
<p>
    If you are reporting a problem with a piece of software I made, please
    open an issue on its gitlab page.<br>
    If you want support, make suggestions or talk about my projects,
    you can send me an <a href="mailto:projects.contact@frohnmeyer-wds.de">E-Mail</a>
    (<a href="keys/email.txt">PGP key</a>)
    or join my <a href="https://matrix.to/#/#jfronny:matrix.org">Matrix space</a>.<br>
    I previously also had a discord server, but I rarely use discord these days,
    so you couldn't reach me there anyways
</p>
<p>
    Alternatively, you can fill out <a href="https://youtrack.frohnmeyer-wds.de/form/cc0e428b-e887-4487-a90a-9e12b28ff4a4">this form</a>.
</p>