<h1>Hello, world!</h1>
<p>
    I am JFronny, the creator of various pieces of software.<br>
    This site is a place for me to host various experiments I have created over time.<br>
    If you want to know more about my projects, you can have a look at my
    <a href="https://gitlab.com/users/JFronny/projects" target="_blank" rel="noopener noreferrer">GitLab</a> and
    <a href="https://modrinth.com/user/k1zlXZhc" target="_blank" rel="noopener noreferrer">Modrinth</a>
    Accounts or my <a href="https://gitlab.com/users/JFronny/groups" target="_blank" rel="noopener noreferrer">Groups</a> on GitLab.<br>
</p>
<p>
    The page you are currently viewing is the third iteration of my website.<br>
    A lot of things changed between this and previous versions so feel free to look around.<br>
    If you want to know what changed between these versions, you can have a look <a href="removed.html">here</a>.
</p>
