<p>
    I try to collect no data. The frontend uses no javascript or other technologies commonly used for tracking<br>
    However, this site makes use of services by some companies which may track you.
</p>
<p>
    Specifically: Github, Google, Unity, Discord, 4chan and Microsoft<br>
    If you are concerned about this, please make yourself familiar with the policies for:
</p>
<ul>
    <li><a href="https://4chan.org/faq#personalinfo" target="_blank" rel="noopener noreferrer">4chan</a></li>
    <li><a href="https://help.github.com/articles/github-privacy-statement/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    <li><a href="https://about.gitlab.com/privacy/" target="_blank" rel="noopener noreferrer">GitLab</a></li>
    <li><a href="https://privacy.microsoft.com/de-de/privacystatement" target="_blank" rel="noopener noreferrer">Microsoft</a></li>
</ul>
<p>
    I should also mention that I operate a web server for some dynamic functions which may log<br>
    anonymized information for debugging purposes (this will in no way be connected to your IP or other identifying information)<br>
    You can view the entire source code for this website and my backend server on <a href="https://gitlab.com/JFronny/jfronny.gitlab.io" target="_blank" rel="noopener noreferrer">GitLab</a>
</p>