<h1>From V1 to V2</h1>
<ul>
    <li>Rewrote in Blazor for easier development</li>
    <li>Remote Information (This is no longer used and wasn't useful to begin with)</li>
    <li>CSearch (This was just a <a href="https://cse.google.de/cse/" target="_blank" rel="noopener noreferrer">CSE</a>)</li>
    <li>Spatial Music Player (This was quite cool and I might work on a Blazor-copy soon but it is just ugly right now)</li>
    <li>Roll A Ball (This was my first project with C# and it sucked. Also it was only a link on the old site)</li>
    <li>Toast-Edit (This was just me playing around with javascript. It only wrapped existing functions and is basically useless)</li>
    <li>V (This was quite cool but I don't want to port it over)</li>
    <li>HackerTyper (This is also quite cool but the actual code is very broken. You can notice this when entering a key for longer periods of time)</li>
</ul>
<h1>From V2 to V3</h1>
<ul>
    <li>Once again (basically) pure HTML with a preprocessor and backend server</li>
    <li>No content was removed, some stuff was changed to fit the new layout though</li>
</ul>