<p>
    Astra (and later Aspera) were my very own Discord bots. They had an advanced config system and supported many common commands, including support for music playback, RSS feeds and integration with various other social platforms.<br>
    Although they no longer receive active development, you should still be able to set them up to use their features.
    The Source code for Astra can be found <a href="https://gitlab.com/JFronny/Astra-Bot" target="_blank" rel="noopener noreferrer">here</a>
    and a docker image is available <a href="https://gitlab.com/JFronny/Astra-Bot/container_registry" target="_blank" rel="noopener noreferrer">here</a>.<br>
    The source code for Aspera is available <a href="https://gitlab.com/JFronny/aspera" target="_blank" rel="noopener noreferrer">here</a>.
</p>
<p>
    For more information about the commands of Astra, you can look at the autodoc <a href="https://jfronny.gitlab.io/Astra-Bot/autodoc/" target="_blank" rel="noopener noreferrer">here</a>
</p>