<p>
    During 2020 and beyond, I have developend and have been maintaining various booking systems for local organizations.<br>
</p>
<h2><a href="https://github.com/Solidarische-Raumnutzung/solidarische-raumnutzung/">SOLI</a></h2>
<p>
    The Human-Computer Interaction and Accessibility research group at the Karlsruhe Institute of Technology (KIT)
    provides students with a room for studying and relaxation.
    During my PSE project, I was part of a team designing a booking system for this room that allows students to book
    time slots for the room with a novel priority and collaboration system to more accurately reflect the needs of the students.
</p>
<h2><a href="https://gitlab.com/kirchewds/sternsinger/">Sternsinger</a></h2>
<p>
    The Sternsingers of Weil der Stadt wanted a booking system to replace their older, phone and paper-based system for booking visits.
    I developed and maintain a booking system for them based on their unique requirements.
</p>
<h2><a href="https://gitlab.com/kirchewds/gottesdienstbesuch2">Gottesdienstbesuch</a></h2>
<p>
    To allow church services to continue during 2020, I was tasked with developing a booking system for church services.
    This system was designed to be simple to use and to allow for easy tracking of attendees.
    Additionally, the system includes a unique approach to the allocation of space that allows
    family members to sit together while maintaining social distancing,
    increasing the number of people that can attend a service.
</p>