<p>
    I own a custom F-Droid repo containing some apps unavailable in the <a href="https://f-droid.org/repo?fingerprint=43238D512C1E5EB2D6569F4A3AFBF5523418B82E0A3ED1552770ABB9A9C9CCAB">default repo</a>
    and <a href="https://apt.izzysoft.de/fdroid/repo?fingerprint=3BF0D6ABFEAE2F401707B6D966BE743BF0EEE49C2561B9BA39073711F628937A">IzzyOnDroid</a>.
</p>
<p>
    It is automatically updated through a CI script that is run daily. You can view it <a href="https://gitlab.com/jf-open-repo/fdroid">here</a>.
</p>
<p>
    If you want to add the repo to your f-droid install, you can do so by clicking <a href="https://jf-open-repo.gitlab.io/fdroid/repo?fingerprint=937AD37D4C667BC0FFD48C4B26B35141BC3683EA0282B005B89CBB703AE3A587">this link</a>.
</p>