<p>
    I have developed several plugins for IntelliJ IDEA, which can be found on the <a href="https://plugins.jetbrains.com/author/d4e4bab9-4c15-4061-9b46-7c3f3d8c33e0">JetBrains Plugin Repository</a>.<br>
    Among them are:
</p>
<ul>
    <li><a href="https://plugins.jetbrains.com/plugin/25530-global-menu-and-decoration">Global Menu and Decoration</a>, which restores a well-liked IDE feature that was <a href="https://youtrack.jetbrains.com/issue/IJPL-156149/Drop-support-for-Global-Menu-with-KDE">unfortunately removed</a> and provides better Wayland support for the IDEs</li>
    <li><a href="https://plugins.jetbrains.com/plugin/24446-s-dom-for-domjudge">S-Dom for DOMjudge</a> which provides integration with the DOMjudge system for programming contests</li>
</ul>