<p>
    JfMods is the name of my minecraft mod development project.<br>
    Under this banner, I have created several advanced minecraft mods, some of which are showcased below.<br>
    You can download my user-ready mods from <a href="https://modrinth.com/user/Jfronny">Modrinth</a> and <a href="https://www.curseforge.com/members/jfronny/projects">CurseForge</a>.<br>
    Some additional experimental and unfinished projects and the source code of the above are available on <a href="https://gitlab.com/jfmods">GitLab</a>.
</p>
<h2>Respackopts</h2>
<p>
    Have you ever downloaded VanillaTweaks and thought that instead of several variations,<br>
    a single pack with an in-game config screen would be more comfortable?<br>
    The same is true for vanilla shaders using standard resource packs<br>
    and more advanced data packs, which might want to provide options just like mods can.<br>
    Respackopts allows all that with configurable resource filtering and expansion,<br>
    defined through a simple JSON-based config representation and pleasant UIs for the user.<br>
    Documentation can be found <a href="https://jfmods.gitlab.io/respackopts/">here</a>
</p>
<h2>Small Utilities</h2>
<p>
    Most of my mods are small utilities that serve a single purpose and are intended as QoL additions.<br>
    Below, I have listed some of them.
    <ul>
        <li><a href="https://modrinth.com/mod/slyde">Slyde</a>: Allows setting options sliders to values outside their boundries</li>
        <li><a href="https://modrinth.com/mod/versionchanger">VersionChanger</a>: Allows displaying different version numbers in the title/title screen. Useful for modpacks</li>
        <li><a href="https://modrinth.com/mod/combit">ComBit</a>: Various optional combat tweaks for those unhappy with modern minecrafts combat</li>
        <li><a href="https://modrinth.com/mod/google-chat">GoogleChat</a>: Chat Translations powered by LibJF, runs client- and serverside</li>
    </ul>
</p>
<h2>Inceptum</h2>
<p>
    Inceptum is my minecraft launcher.<br>
    It allows representing modpacks as metadata only, without the need for importing.<br>
    This makes syncing a pack with a repository exceptionally easy.<br>
    It also provides a simple UI for mod management including updates from Modrinth and CurseForge,<br>
    Importing and Exporting from and to other popular formats and support for running as a headless server starter.<br>
    Be aware that it is still lacking in other aspects, though I hope that features like this will be implemented elsewhere as well.<br>
    Documentation is available <a href="https://jfmods.gitlab.io/inceptum/">here</a>
</p>
<h2>LibJF</h2>
<p>
    LibJF is my library mod. It is at the core of all my other modifications and provides several innovative features.<br>
    Documentation is available <a href="https://jfmods.gitlab.io/LibJF/">here</a>.<br>
    Among others, it provides
    <ul>
        <li><a href="https://jfmods.gitlab.io/LibJF/libjf-config-v0/">Configs</a> without any need for registring. Just make a static class, annotate it and list it in your FMJ.<br>LibJF takes care of everything else</li>
        <li><a href="https://jfmods.gitlab.io/LibJF/libjf-unsafe-v0/">ASM</a> and UltraEarlyInit for when mixin just isn't enough</li>
        <li><a href="https://jfmods.gitlab.io/LibJF/libjf-web-v0/">a Web Server</a> for hosting resources on minecraft servers without extra software</li>
        <li><a href="https://jfmods.gitlab.io/LibJF/libjf-translate-v1/">Translation</a> using a user-configurable backend and unified API</li>
    </ul>
</p>
<h2>JfMods Scripts</h2>
<p>
    The JfMods Scripts are a set of gradle/GitLab CI scripts that make developing mods easier.<br>
    They automate versioning, changelogs, publishing to Maven, Modrinth and CurseForge,<br>
    syncing a description, deduplicate the build scripts and take the pain out of developing more than a few mods at a time.<br>
    I honestly recommend that other developers should take a look at them, even if just for copying.<br>
    You can find them <a href="https://gitlab.com/jfmods/scripts">here</a>
</p>
