<h1>Kirchenführung</h1>
Kirchenführung (formerly AudioWDS) is an audio guide for the St. Peter und Paul church in Weil der Stadt.
It was developed as part of a project for the church to provide visitors with an audio guide to the church.
The application is an Android application that dynamically loads and caches tours consisting of
audio files and images from a remote server.<br>
The application is developed in Kotlin with Compose UI and uses the ExoPlayer library for audio playback.
It is provided as open source in hopes that it can be useful to other organizations looking to provide audio guides to their visitors.
The source code can be found <a href="https://gitlab.com/kirchewds/kirchenfuehrung-client">here</a>.<br>
<br>
In addition to the application, which itself uses CI/CD to automatically build and deploy the application,
I have built a set of kotlin scripts to easily generate the metadata for tours from a simple directory structure,
allowing even non-technical users to create tours for the application.<br>
These scripts are automatically executed as part of the CI/CD pipeline of the <a href="https://github.com/kirchewds/kirchenfuehrung-data">data repository</a>.
The resulting metadata is then automatically deployed to GitHub Pages, where the application can download it.<br>
The source code for the scripts can be found alongside the data in its repository.
<h1>Netzgottesdienst</h1>
<a href="http://netzgottesdienst.de/">Netzgottesdienst</a> is a service provided by the St. Peter und Paul church in Weil der Stadt to allow people to participate in church services from home.<br>
The service is provided as a live stream via Angelcam.<br>
I was tasked with developing a website to provide information about the service and to embed the live stream.<br>
This website was developed using plain HTML and Materialize CSS to provide a simple and responsive design.<br>
The website is hosted by Strato and is updated manually by the church.<br>
The source code for the website can be found <a href="https://gitlab.com/kirchewds/Netzgottesdienst-Test">here</a>.<br>
<h1>Gottesdienstbesuch und Sternsinger</h1>
To allow church services to continue during 2020, I was tasked with developing a booking system for church services.
Information about that system can be found <a href="booking.html">here</a>.