<p>
    QuAERE is a simple tool to rescue data from older systems that you no longer remember the passwords to.<br>
    This is done using a custom OS (QuAERE) that contains a script to automate several tools to make the built-in Administrator-Account accessible
</p>
<p>
    Please note that this tool is not intended for malicious use and should only be used on systems you own or have permission to access.<br>
    (detecting the usage of this tool is easy and can be done with one glance at the login screen)<br>
    It is also not guaranteed to work on all systems, especially newer ones or those with BitLocker enabled.<br>
</p>
<p>
    QuAERE doesn't work on systems where access to a boot menu etc was blocked, for those you will need to exploit other flaws in your setup.
</p>
<p>
    <a href="https://drive.google.com/uc?id=1vk9VHbD8UKzQGD5_yYa_tqBsit-BFkZ0" target="_blank" rel="noopener noreferrer">Download</a><br>
    <small>
        Hash (SHA256): A9B12C17C36D5390AB51E106AFE992E6A36DA5C030787AF8C283908A108868E4<br>
        (A tutorial on how to install QuAERE on an existing portable OS can be found <a href="https://gitlab.com/snippets/1988595">here</a>,<br>
        the ISO just adds a shutdown-command to the "quit"-function and runs it automatically)
    </small>
</p>