<h1 class="highlight center">READ BEFORE CONTINUING</h1>
<p>
    This portion of the website was an experiment for accessing another online service<br>
    That means that this will load unmoderated content from 4chan.<br>
    This content is likely to be unsafe for people at work or under the age of 18.<br>
    If you don't want to see that, now is your last chance to turn back.
</p>
<p>
    If you are sure you want to continue, you can access the roulette <a href="${devAlt:https://akbvopenfl1.hopto.org/jfapi/roulette,https://localhost:5003/jfapi/roulette}">here</a>.
</p>