<p>
    <a href="https://git.frohnmeyer-wds.de/UpTool/UpTool2">UpTool2</a> was a simple multi-platform package format (though it was primarily designed for Windows)
    that is inspired by various linux packaging formats and brings their simplicity to Windows.
</p>
<p>
    With UpTool, packages are simple to create thanks to its usage of familiar systems for scripting (namely, batch scripts)<br>
    and an intuitive approach to installation that is designed to be as simple as possible.<br>
    Additionally, a packaging tool is developed alongside the format that allows for an automated package creation process.<br>
    The program can easily be executed as part of a projects CI pipeline to provide a simple distribution method.
</p>
<p>
    Alongside the package format, a repository system and format was developed.<br>
    Using this, users can easily discover and install packages without having to manually download them.<br>
    In addition to the usability benefits, this increases security since you can't accidentally download a malicious package.<br>
    Repositories also allow for automatic updates.<br>
    An innovative feature of the format is the ability for repositories to externalize parts of their metadata,
    allowing, for example, the the metadata for a package to be created alongside the package and for it
    to be updated at the pace of the maintainer of the package, not the repository.
</p>
<p>
    As part of UpTool, a package manager was developed that allows for easy installation and updating of packages.<br>
    This package manager provides both a lightweight, Windows-Forms (and later Eto)-based GUI and a command-line interface.<br>
    This makes it easy to integrate UpTool into your workflow, allowing for scripted installations and updates,
    but also classical GUI-based installations for end-users.
</p>
<p>
    While I was developing UpTool, I also created a suite of simple applications to be distributed using UpTool.<br>
    Some examples of these are:
    <ul>
        <li><a href="https://git.frohnmeyer-wds.de/UpTool/Resizor">Resitor</a> was a window management solution for Windows similar to fancy zones, but preceding its release.</li>
        <li><a href="https://git.frohnmeyer-wds.de/UpTool/Cashew">Cashew</a> was an IDE for .NET projects with support for syntax highlighting, decompilation and others.</li>
        <li><a href="https://git.frohnmeyer-wds.de/UpTool/PowerCalc">PowerCalc</a> was a simple graphical calculator.</li>
        <li><a href="https://git.frohnmeyer-wds.de/UpTool/Snakity">Snakity</a> was a video games powered by a custom double buffered terminal UI library.</li>
        <li><a href="https://git.frohnmeyer-wds.de/UpTool/CC-Clicker">CC-Clicker</a> was an extremely simple and easy to use auto clicker.</li>
        <li><a href="https://git.frohnmeyer-wds.de/UpTool/PostCrypt">PostCrypt</a> was an obfuscation solution for .NET applications.</li>
        <li><a href="https://git.frohnmeyer-wds.de/UpTool/CC-Functions">CC-Functions.W32</a> was a tool for inspecting and modifying running Windows GUI applications.</li>
    </ul>
</p>