@page "/bot"

<h1>Astra</h1>

Astra is my very own Discord bot. It has an advanced config system and supports many common commands. If you have suggestions, please contact me!
<br>
My instance of the bot is running on a RasPI, which is not a very powerful machine, but still performs well
<br>
If you want it on your server and don't trust me you can host it yourself.
The Source code can be found <a href="https://gitlab.com/JFronny/Astra-Bot">here</a> and a docker image is available <a href="https://gitlab.com/JFronny/Astra-Bot/container_registry">here</a>
<br>
You can test the bot on <a href="discord">my server</a>
<br>
<br>
For more information about the commands you can look at the autodoc <a href="https://jfronny.gitlab.io/Astra-Bot/autodoc/">here</a>
