﻿@page "/quaere"

<h1>QuAERE</h1>

QuAERE is a simple tool to get elevated privileges on older systems.
<br>
This is done using a custom OS (QuAERE) that contains a script to automate several tools to make the built-in Administrator-Account accessible 
<br>
<br>
<a class="btn btn-dark" href="https://drive.google.com/uc?id=1vk9VHbD8UKzQGD5_yYa_tqBsit-BFkZ0"><span class="oi oi-data-transfer-download" aria-hidden="true"></span> Download</a>
<br>
<br>
<small>
    Hash (SHA256): A9B12C17C36D5390AB51E106AFE992E6A36DA5C030787AF8C283908A108868E4<br>
    (A tutorial on how to install QuAERE can be found <a href="https://gitlab.com/snippets/1988595">here</a>, the ISO just adds a shutdown-command to the "quit"-function and runs it automatically)
</small>
