﻿@page "/roulette/accepted"
@using Chan.Net
@using Chan.Net.JsonModel
@using System.Net
@inject HttpClient Http;
@inject IJSRuntime JsRuntime;

<h1>4chan-Roulette</h1>

Have fun...
@if (_state != RouletteState.Loaded)
{
    @foreach (string s in _status)
    {
        <br>
        @s
    }
}
@if (_state != RouletteState.Loading)
{
    <br>
    <a class="btn btn-primary" @onclick="NewCard">New card</a>
}
@if (_state == RouletteState.Loaded)
{
    <br>
    <br>
    <div class="card" style="width: 100%;">
        <a href="@GetImageUrl(_th, false)"><img class="card-img-top" style="height:300px;object-fit: contain;" src=@GetImageUrl(_th, true) alt="Loading image"></a>
        <div class="card-body">
            <h5 class="card-title">
                <a target="_blank" rel="noopener noreferrer" href="https://boards.4channel.org/@_th.Board.BoardId">/@_th.Board.BoardId/</a>
                -
                @_th.Name:
                <a target="_blank" rel="noopener noreferrer" href="https://boards.4channel.org/@_th.Board.BoardId/thread/@_th.PostNumber">
                    @(string.IsNullOrWhiteSpace(_th.Subject) ? "Untitled" : _th.Subject)
                </a>
            </h5>
            <p class="card-text">
                @foreach (string s in (_th.Message ?? "").Split('\n'))
                {
                    <br>
                    @s
                }
            </p>
        </div>
    </div>
}

@code
{
    private RouletteState _state = RouletteState.Loading;
    private readonly List<string> _status = new(){"Waiting..."};
    private Thread _th;
    MetaBoard[] _boards;
    static readonly Random Rnd = new();
    #if DEBUG || LOCALHOST
    private const string apihost = "https://localhost:5003/jfapi/chan/";
    #else
    private const string apihost = "https://akbvopenfl1.hopto.org/jfapi/chan/";

    private Thread Th
    {
        get => _th ?? new Thread(new Board("a"), 0);
        set => _th = value;
    }
#endif

    protected override async Task OnInitializedAsync()
    {
        Log("Initializing... (This may take a minute)", true);
        Log("Fetching boards");
        List<BoardInfo> m = JsonDeserializer.Deserialize<BoardListModel>(await DownloadString("boards")).boards;
        Log("Generating metadata objects");
        _boards = m.Select(s => new MetaBoard(s, this)).ToArray();
        await NewCard();
    }
    
    private async Task NewCard()
    {
        try
        {
            _state = RouletteState.Loading;
            Log("Loading card...", true);
            Log("Selecting board");
            Thread[] thl = await _boards[Rnd.Next(_boards.Length)].GetThreads();
            Log("Selecting thread");
            _th = thl[Rnd.Next(thl.Length)];
            Console.WriteLine($"https://boards.4channel.org/{_th.Board.BoardId}/thread/{_th.PostNumber}");
            Log($"Waiting...", true);
            _state = RouletteState.Loaded;
        }
        catch (Exception e)
        {
            Log($"Image load failed: {e}");
            Console.WriteLine(e.ToString());
            _state = RouletteState.Failure;
        }
        StateHasChanged();
    }

    private string GetImageUrl(Thread th, bool selfHost)
    {
        if (selfHost)
        {
            if (th?.Image?.Thumbnail != null)
            {
                string url = apihost;
                url += "image?board=";
                url += th.Board.BoardId;
                url += "&image=";
                url += th.Image.Thumbnail.AbsoluteUri.Split('/')[4].Replace("s.jpg", "");
                return url;
            }
        }
        else
        {
            if (th?.Image?.Image != null)
                return th.Image.Image.AbsoluteUri;
        }
        return "";
    }

    private async Task<string> DownloadString(string uri)
    {
        Log($"Fetching {apihost}{uri}");
        return await Http.GetStringAsync(apihost + uri);
    }

    private async Task<IEnumerable<Thread>> GetThreads(Board board)
    {
        Log("Fetching board catalog");
        List<PageModel> pages = JsonDeserializer.Deserialize<List<PageModel>>(await DownloadString($"catalog?board={board.BoardId}"));
        Log("Serializing threads");
        return from page in pages
               from thread in page.threads
               select new Thread(board, unchecked((uint)thread.no))
               {
                   Name = thread.name,
                   Message = thread.com == null ? null : PostManager.CleanPostMessage(thread.com),
                   Image = !string.IsNullOrEmpty(thread.ext) ? new PostedImage(board.BoardId, (long)thread.tim, thread.ext)
                   {
                       Filename = thread.filename,
                       Height = thread.h,
                       Width = thread.w,
                       Filesize = thread.fsize,
                       Md5Hash = thread.md5,
                   } : null,
                   TimeCreated = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).Add(TimeSpan.FromSeconds(thread.time)),
                   Id = thread.id,
                   Country = thread.country,
                   CountryName = thread.country_name,
                   EpochTimeCreated = thread.time,
                   Trip = thread.trip,

                   Subject = WebUtility.HtmlDecode(thread.sub ?? ""),
                   Sticky = thread.sticky == 1,
                   Closed = thread.closed == 1,
               };
    }

    private void Log(string text, bool overwrite = false)
    {
        if (overwrite)
            _status.Clear();
        _status.Add(text);
    }

    private struct MetaBoard
    {
        private readonly Board _board;
        private readonly RouletteMain _main;
        private Thread[] _threads;
        public async Task<Thread[]> GetThreads() => _threads ??= (await _main.GetThreads(_board)).OrderBy(s => Rnd.NextDouble()).ToArray();

        public MetaBoard(BoardInfo info, RouletteMain main)
        {
            _main = main;
            _board = new Board(info.ShortName);
            _threads = null;
        }
    }

    enum RouletteState
    {
        Loading,
        Loaded,
        Failure
    }
}
